@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Poppins:wght@200;400;500;600&family=Ubuntu:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
    width: 450px;
}
.form-update{
    width: 100%;
}
.taskForm{
    display: flex;
    flex-direction: column;
}
label{
    margin: 10px 0px;
}
input, textarea{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
}
textarea{
    margin-bottom: 25px;
}
.createButton{
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: green;
    color: #fff;
    border: 1px solid green;
    cursor: pointer;
}
.updateButton{
    background-color: blueviolet;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    border: 1px solid blueviolet;
    cursor: pointer;
}
.createButton:hover{
    background-color: rgb(3, 146, 3);
    letter-spacing: .05rem;
}
.updateButton:hover{
    background-color: rgb(150, 75, 220);
    letter-spacing: .05rem;
}
.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.task-show{
    border: 1px solid green;
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.task-show h3{
    margin-bottom: 0px;
}
.task-show p{
    margin-top: 5px;
}
.task-title{
    margin-top: 0;
}
.desc-text{
    margin-bottom: 30px;
}
.btn-sil, .btn-edit{
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
.btn-sil{
    background-color: red;
    color: white;
    margin-right: 10px;
    width: 80px;
}
.btn-sil:hover{
    background-color: tomato;
    cursor: pointer;
}
.btn-edit{
    background-color: navy;
    color: white;
    width: 70px;
}
.btn-edit:hover{
    background-color: rgb(5, 5, 213);
    cursor: pointer;
}
